$theme_color:#1db2e9;
$theme_font:"Lato", sans-serif;
$base_font_color:#5f5e5e;
$heading_color:#292929;
$heading_font:'Raleway', sans-serif;
$background1: #f2f1ef;
$background2:#ffffff;
$footer_bg:#3b3a3a;